@{
    ViewData["Title"] = "Result";
}

<div class="text-center">
    <h1>My Guess is...</h1>
    <h2 class="display-4 my-4">@ViewBag.FoundCelebrity</h2>
    <p>If this isn't correct, feel free to try again!</p>
    <a href="/Game/Index" class="btn btn-primary btn-lg mt-4">Play Again</a>
</div>
