@{
    ViewData["Title"] = "Celebrity Guessing Game";
}

<h1>Think about a Celebrity You Know</h1>
<p>Welcome to the Celebrity Guessing Game! I will try to guess the celebrity you are thinking of by asking you some questions.</p>

<a href="/Game/Index" class="btn btn-primary">Start the Game</a>
