@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome to the Celebrity Guessing Game!</h1>
<p>Think of a celebrity, and the game will try to guess who it is by asking a series of questions.</p>

<a href="/Game/Index" class="btn btn-primary">Start the Game</a>
